extends baseTemplate

block content
    .container
        h1 &#x1F3E6; Loan Details &#x1F3E6;
        figure.course
            a.course__back(href='/')
                span.emoji-left &#x1F448;
                | Back
            h2.course__name Loans
            ul
                each loan in data
                    li.course__info ID: #{loan.id}
                    ul
                        li.course__info Customer Name: #{loan.customerName}
                        li.course__info Phone Number: #{loan.phoneNumber}
                        li.course__info Address: #{loan.address}
                        li.course__info Interest Rate: #{loan.interest}
                        li.course__info Loan Term: #{loan.loanTermYears}
                        li.course__info Loan Type: #{loan.loanType}
                        li.course__info Description: #{loan.description}
