extends baseTemplate

block content
    .container
        h1 User Profile
        div.figure_container
            figure.course
                a.course__back(href='/')
                    span.emoji-left &#x1F448;
                    | Back
                h2.course__name User Information
                table.table-header
                    thead
                        tr
                            th(scope='col') Name
                            th(scope='col') Email
                            th(scope='col') Role
                    tbody
                            tr.table-secondary
                                td #{user.name}
                                td #{user.email}
                                td #{user.role}
        div.figure_container
            figure.course
                h2.course__name Your Loans
                table.table-header
                    thead
                        tr
                            th(scope='ID') ID#
                            th(scope='col') Customer Name
                            th(scope='col') Phone Number
                            th(scope='col') Address
                            th(scope='col') Amount
                            th(scope='col') Interest
                            th(scope='col') Term
                            th(scope='col') Type
                            th(scope='col') Description
                    tbody
                        each loan in loans
                            tr.table-secondary
                                td #{loan.loanId}
                                td #{loan.customerName}
                                td #{loan.phoneNumber}
                                td #{loan.address}
                                td #{loan.loanAmount}
                                td #{loan.interest}
                                td #{loan.loanTermYears}
                                td #{loan.loanType}
                                td #{loan.description}
